In [306]:
import numpy as np
import pandas as pd
import seaborn as sns

from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

In [307]:
data = pd.read_csv("train.csv")

In [308]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [309]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [310]:
mean = data["Age"].mean()
std = data["Age"].std()
is_null = data["Age"].isnull().sum()

In [311]:
data["Embarked"] = data["Embarked"].fillna("Q")

In [312]:
a = data["Age"].copy()
a[np.isnan(a)] = np.random.randint(mean-std, mean+std, is_null)
data["Age"] = a

In [313]:
data = data.drop(["PassengerId", "Name", "Ticket", "Cabin"], axis=1)

In [314]:
gender = {"male":1, "female":0}
data["Sex"] = data["Sex"].map(gender)
port = {"S":1, "C":2, "Q":3}
data["Embarked"] = data["Embarked"].map(port)

In [315]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  891 non-null    int64
dtypes: float64(2), int64(6)
memory usage: 55.8 KB

In [316]:
x = data.drop(["Survived"], axis=1)
y = data["Survived"]

In [317]:
data.head(10)

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         1
1         1       1    0  38.0      1      0  71.2833         2
2         1       3    0  26.0      0      0   7.9250         1
3         1       1    0  35.0      1      0  53.1000         1
4         0       3    1  35.0      0      0   8.0500         1
5         0       3    1  42.0      0      0   8.4583         3
6         0       1    1  54.0      0      0  51.8625         1
7         0       3    1   2.0      3      1  21.0750         1
8         1       3    0  27.0      0      2  11.1333         1
9         1       2    0  14.0      1      0  30.0708         2

In [318]:
testdata = pd.read_csv("test.csv")

In [319]:
testdata

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [320]:
mean = testdata["Age"].mean()
std = testdata["Age"].std()
is_null = testdata["Age"].isnull().sum()

In [321]:
a = testdata["Age"].copy()
a[np.isnan(a)] = np.random.randint(mean-std, mean+std, is_null)
testdata["Age"] = a

In [322]:
data.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [323]:
gender = {"male":1, "female":0}
testdata["Sex"] = testdata["Sex"].map(gender)

port = {"S":1, "C":2, "Q":3}
testdata["Embarked"] = testdata["Embarked"].map(port)
mean = testdata["Fare"].mean()
testdata["Fare"] = testdata["Fare"].fillna(mean)

In [324]:
testdata = testdata.drop(["PassengerId", "Name", "Ticket", "Cabin"], axis=1)

In [325]:
testdata.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    1  34.5      0      0   7.8292         3
1       3    0  47.0      1      0   7.0000         1
2       2    1  62.0      0      0   9.6875         3
3       3    1  27.0      0      0   8.6625         1
4       3    0  22.0      1      1  12.2875         1

In [326]:
from sklearn.model_selection import train_test_split

In [327]:
x.isnull().sum()

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [339]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size = 0.2)

In [340]:
from sklearn.preprocessing import StandardScaler
scx = StandardScaler()

In [341]:
sxtrain = scx.fit_transform(xtrain)
sxtest = scx.transform(xtest)

In [342]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

In [354]:
lg = LogisticRegression()
dt = DecisionTreeClassifier()
rf = RandomForestClassifier()
knn = KNeighborsClassifier()
svc = SVC()

In [355]:
lg.fit(sxtrain, ytrain)
dt.fit(sxtrain, ytrain)
rf.fit(sxtrain, ytrain)
knn.fit(sxtrain, ytrain)
svc.fit(sxtrain, ytrain)

SVC()

In [356]:
p1 = lg.predict(sxtest)
p2 = dt.predict(sxtest)
p3 = rf.predict(sxtest)
p4 = knn.predict(sxtest)
p5 = svc.predict(sxtest)

In [357]:
from sklearn.metrics import mean_squared_error

In [360]:
l1 = mean_squared_error(p1, ytest)
l2 = mean_squared_error(p2, ytest)
l3 = mean_squared_error(p3, ytest)
l4 = mean_squared_error(p4, ytest)
l5 = mean_squared_error(p5, ytest)

In [364]:
print(l1)
print(l2)
print(l3)
print(l4)
print(l5)

0.16759776536312848
0.22905027932960895
0.1787709497206704
0.1564245810055866
0.1452513966480447

In [350]:
testdata = scx.transform(testdata)

In [365]:
pred1 = svc.predict(testdata)

In [370]:
pred1

array([0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0],
      dtype=int64)

In [367]:
final = pd.read_csv("test.csv")

In [368]:
final["PassengerId"].isnull().sum()

0

In [371]:
final["Survived"] = pred1

In [376]:
final = final.drop(["Pclass", "Name", "Sex", "Age", "SibSp", "Parch", "Ticket", "Fare", "Cabin", "Embarked"], axis=1)

In [378]:
final.to_csv("submission.csv", index=False)